<div class="max-w-6xl mx-auto my-10 p-5 lg:p-0">
    <app-page-title text="Últimas Noticias" color="white" class="flex items-center"></app-page-title>
    <div class="flex flex-wrap mt-5 gap-10 justify-center sm:justify-between">
        <app-noticia-card class="w-64 lg:w-5/12 hover:scale-105"></app-noticia-card>
        <app-noticia-card class="w-64 lg:w-4/12 hover:scale-105"></app-noticia-card>
        <app-noticia-card class="w-64 lg:w-5/12 hover:scale-105"></app-noticia-card>
        <app-noticia-card class="w-64 lg:w-5/12 hover:scale-105"></app-noticia-card>
        <app-noticia-card class="w-64 lg:w-5/12 hover:scale-105"></app-noticia-card>
        <app-noticia-card class="w-64 lg:w-5/12 hover:scale-105"></app-noticia-card>
        <app-noticia-card class="w-64 lg:w-5/12 hover:scale-105"></app-noticia-card>
    </div>
</div>
