<div class="w-full h-full relative bg-slate-700">
  <img src="/assets/img/ex1.jpeg" class="object-cover w-full h-full" />
  <div class="absolute bottom-0 w-full max-h-40 font-bold select-none">
    <p
      class="text-sm text-white p-2 bg-primary opacity-80 hover:opacity-100 w-max"
    >
      20/02/2023
    </p>
    <div
      class="box-border w-full p-2 bg-slate-50 opacity-80 hover:opacity-100"
    >
      <h3 class="text-lg tracking-tight card-title">
        Here are the biggest enterprise technology acquisitions of 2021 so far,
        in reverse chronological order.
      </h3>
    </div>
  </div>
</div>
