<div class="w-full relative flex flex-col">
  <img src="/assets/img/mainbg.webp" />
  <div class="absolute bottom-0 w-full card-text max-h-40 font-bold">
    <p
      class="text-sm text-white p-2 bg-primary opacity-80 hover:opacity-100 w-max"
    >
      20/02/2023
    </p>
    <h3
      class="text-lg tracking-tight p-2 bg-slate-50 opacity-80 hover:opacity-100 w-full"
    >
      Here are the biggest enterprise technology acquisitions of 2021 so far, in
      reverse chronological order.
    </h3>
  </div>
</div>
