<a routerLink = "/noticias/{{noticia.id}}">
  <div class="w-full h-full relative bg-slate-700" >
    <img src="{{noticia.imagen}}" class="object-cover w-full h-full" />
    <div class="absolute bottom-0 w-full max-h-40 font-bold select-none">
      <p
        class="text-sm text-white p-2 bg-primary opacity-80 hover:opacity-100 w-max"
      >
        {{noticia.fecha}}
      </p>
      <div
        class="box-border w-full p-2 bg-slate-50 opacity-80 hover:opacity-100"
      >
        <h3 class="text-lg tracking-tight card-title">
          {{noticia.titulo}}
        </h3>
      </div>
    </div>
  </div>
</a>

